.counter_wrapper .radial-progress {
  max-width: 240px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-radius: 50%;
  /* box-shadow: 0 0 50px 15px #E2F4FF; */
}

.counter_wrapper .radial-progress circle {
  fill: transparent;
  stroke: #fff;
}

.counter_wrapper .radial-progress circle.bar-static {
  stroke: white !important;
}

.counter_wrapper .radial-progress circle.bar--animated {
  stroke-dasharray: 219.91148575129;
  stroke: #cee8f8;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 4px;
  stroke-linecap: round;
  /* filter: blur(3px); */
  border-radius: 50%;
  /* box-shadow: 0 0 50px 15px #E2F4FF; */
}
.counter_wrapper .radial-progress text {
  fill: #000;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-anchor: middle;
}

.counter_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

/*------------ half circle style ---------------*/

/* .counter_wrapper .radial-progress {
  -webkit-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
          transform: rotate(-18deg);
}
.counter_wrapper .radial-progress text {
  -webkit-transform: matrix(1, 0, 0, 1, 12, -5) rotate(18deg);
      -ms-transform: matrix(1, 0, 0, 1, 12, -5) rotate(18deg);
          transform: matrix(1, 0, 0, 1, 12, -5) rotate(18deg);
} 
.counter_wrapper .radial-progress circle.bar-static {
  stroke: transparent;
} */
