footer {
  background-color: #15303f;
  color: white;
  padding: 10rem 3rem 3rem 3rem;
  text-align: center;
}

.powered-by-container span {
  font-weight: 500;
  margin-bottom: 2rem;
  display: block;
}

.dwnwnd-logo-footer {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.org-nr {
  font-weight: 200;
  margin-top: 10rem;
  display: block;
}

@media (min-width: 1000px) {
  .dwnwnd-logo-footer {
    width: 30vw;
  }
}
