footer {
  background-color: #15303f;
  color: #7e8b97;
  padding: 10rem 3rem 3rem 3rem;
}

footer img {
  width: 100%;
}

.powered-by-container {
  text-align: center;
}

.logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

.powered-by-container .powered-by {
  font-weight: 100;
  margin-bottom: 2rem;
  display: block;
}

.dwnwnd-logo-footer {
  width: 30vw;
}

.truecoach-logo-footer {
  width: 30vw;
}

.org-nr {
  font-weight: 200;
  margin-top: 10rem;
  display: block;
  text-align: center;
}
@media (min-width: 600px) {
  footer .logos-container {
    flex-direction: row;
    gap: 3rem;
  }
}

@media (min-width: 1000px) {
  .dwnwnd-logo-footer,
  .truecoach-logo-footer {
    width: 15vw;
  }
}
