@import url("/css/nav.css");
@import url("/css/footer.css");
@import url("/css/index.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #e3ecf1;
}

li {
  list-style: none;
}

main,
footer {
  position: relative;
  top: 61px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* .remove {
  opacity: 1;
  transition: 2s all ease;
}
.remove.hidden {
  opacity: 0;
  display: none;
} */

.show {
  opacity: 1;
  transition: 0.2s all ease;
}

.show.hide {
  transform: translateY(-150px);
  opacity: 0;
}

.button:hover {
  background-color: #faf1e8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #e77100;
}

@media (min-width: 800px) {
  main, footer {
    top: 127.3px;
  }
}
