section.heading {
  text-align: center;
  padding: 4rem;
  background-color: #e3ecf1;
  font-size: 1.5rem;
}

.heading .buisness-title {
  color: #15303f;
  font-size: 2rem;
  font-weight: 200;
}

.heading .navn {
  color: #15303f;
  font-size: 2.5rem;
  font-weight: 800;
}

.hvorfor-spørsmål .container {
  font-size: 0.8rem;
  padding: 1rem;
  text-align: center;
  background-color: white;
}

.hvorfor-spørsmål h1 {
  color: #15303f;
  font-weight: 200;
}

section.hvorfor-circle {
  background-color: white;
  height: 90vh;
}

.hvorfor-circle .container {
  background-image: url("/img/unsplash_1UnEP_LiMw0.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  z-index: 7;
  position: relative;
}

.circle {
  background-color: rgb(255, 255, 255);
  height: 90vw;
  width: 90vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px 15px #e2f4ff;
  position: relative;
  top: 150px;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
}

.circle .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #15303f;
  font-size: 0.7rem;
  text-align: center;
  width: 80%;
}

.circle .blue-text {
  color: #0d72b1;
}
section.opplegg,
section.tjenester,
section.om-meg,
section.kvalifikasjoner,
section.kontakt {
  padding: 7rem 3rem 7rem 3rem;
}

section.tjenester {
  padding: 3rem 3rem 7rem 3rem;
}

section.opplegg,
section.kvalifikasjoner,
section.kontakt {
  background-color: #15303f;
  color: white;
}

/* section.tjenester {
  background-color: #f2f5f6;
} */

.opplegg .header,
.tjenester .header,
.om-meg .header,
.kvalifikasjoner .header,
.kontakt .header {
  padding-bottom: 4rem;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.opplegg .logo-in-text {
  width: 90px;
}

.opplegg h1,
.tjenester h1,
.om-meg h1,
.kvalifikasjoner h1,
.kontakt h1 {
  font-size: 2rem;
}

.tjenester h1,
.kvalifikasjoner h1,
.kontakt h1 {
  color: #e77100;
}

.opplegg .container,
.tjenester .container,
.om-meg .container,
.kvalifikasjoner .container,
.kontakt .container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.tjenester .container {
  gap: 2rem;
}

.opplegg .container .om-meg .container,
.kvalifikasjoner .container,
.kontakt .container {
  gap: 4rem;
}

.opplegg h2,
.tjenester h2,
.kvalifikasjoner h2 {
  font-weight: 600;
}

.opplegg h2 {
  color: #e77100;
}

.tjenester h2,
.kvalifikasjoner h2 {
  color: #15303f;
}

.kvalifikasjoner h2,
.opplegg h2 {
  margin-bottom: 0.5rem;
}

.tjenester h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.opplegg p,
.tjenester p,
.om-meg p,
.kvalifikasjoner p,
.kontakt p {
  font-size: 1.1rem;
  font-weight: 300;
}

.tjenester p {
  color: #15303f;
}

.opplegg .dots-wrapper,
.kvalifikasjoner .dots-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem 0;
}

.opplegg .dot,
.kvalifikasjoner .dot {
  background-color: #365567;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

main .CTA-container {
  padding: 5rem;
  gap: 3rem;
  background-image: url("/img/unsplash_WvDYdXDzkhs.png");
  background-position: 20% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

main .CTA {
  min-width: 300px;
  padding: 2rem 3.8rem 1.8rem 3.8rem;
  font-size: 1.3rem;
}

main .CTA-container li {
  margin: 1rem;
}

section.hvorfor-online {
  background-color: #fff9f4;
  padding: 4rem 2.5rem;
}

.hvorfor-online .container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.hvorfor-online .icon {
  font-size: 2rem;
  color: #15303f;
}

.hvorfor-online .info {
  color: #15303f;
  padding-top: 2rem;
}

.hvorfor-online h1 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

/* TJENESTER */
.tjenester .card {
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.087);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.tjenester .card:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.139);
  background-color: #fffcfa;
  cursor: pointer;
}

.tjenester .info-pris-container {
  display: flex;
  justify-content: space-between;
}

.tjenester .pris-container {
  text-align: right;
}

.tjenester .link {
  color: #15303f;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 3rem;
  display: block;
  color: #365567;
}

/* @media (hover) {
  .tjenester .link {
    text-decoration: none;
  }
  .tjenester .link:hover {
    text-decoration: underline;
  }
} */

@media (min-width: 250px) {
  .circle .info {
    font-size: 0.8rem;
  }
}

@media (min-width: 300px) {
  .circle .info {
    font-size: 0.9rem;
  }
}

@media (min-width: 350px) {
  .circle .info {
    font-size: 1rem;
  }
}

@media (min-width: 400px) {
  .hvorfor-circle .container {
    margin-right: auto;
    margin-left: auto;
  }

  .circle {
    height: 23rem;
    width: 23rem;
  }
}

@media (min-width: 700px) {
  .hvorfor-online .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 750px) {
  .opplegg .container,
  .kvalifikasjoner .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  section.hvorfor-online {
    padding: 7rem 5rem;
  }
}

@media (min-width: 1000px) {
  section.heading {
    padding: 169px 100px 100px 100px;
  }

  .hvorfor-spørsmål .container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 170px;
    z-index: 9;
  }

  .hvorfor-spørsmål h1 {
    width: 800px;
    left: 122px;
    position: relative;
    font-size: 2rem;
    z-index: 9;
  }

  section.hvorfor-circle {
    height: 850px;
  }

  .hvorfor-circle .container {
    height: 100%;
    position: relative;
    right: 230px;
  }

  .circle {
    left: 460px;
    top: 260px;
    height: 30rem;
    width: 30rem;
  }

  .circle .info {
    font-size: 1.3rem;
  }

  section.opplegg,
  section.om-meg,
  section.kvalifikasjoner,
  section.kontakt {
    padding: 10rem 7rem;
  }

  section.tjenester {
    padding: 4rem 7rem 10rem 7rem;
  }

  .tjenester .link {
    margin-bottom: 6rem;
  }

  .opplegg .header,
  .tjenester .header,
  .om-meg .header,
  .kvalifikasjoner .header,
  .kontakt .header {
    padding-bottom: 5rem;
    padding-top: 0;
  }

  main .CTA {
    padding: 2.2rem 4rem 2rem 4rem;
    font-size: 1.5rem;
  }

  .container,
  .header {
    max-width: 1300px;
  }
}

@media (min-width: 1100px) {
  .opplegg .container,
  .tjenester .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .opplegg .container {
    gap: 6rem;
  }

  .tjenester .card span {
    display: block;
  }

  /* .tjenester .container  {
    gap:3rem;
  } */

  .hvorfor-online .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
