.banner-desktop {
  display: none;
  background-color: #fff9f4;
  padding: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.banner-tablet {
  color: #7e8b97;
}

.banner {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  color: #7e8b97;
}

nav.background-color {
  background-color: #081820ca;
}

nav {
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  height: 62px;
  background-color: #15303f;
  z-index: 10;
  position: absolute;
}

.logo-nav-desktop-container {
  display: none;
  /* transition: all 1s ease-in-out; */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  z-index: 3;
  position: absolute;
  background-color: #081820ca;
}

.menu-items .link {
  text-decoration: none;
  text-transform: uppercase;
  color: #7e8b97;
  font-weight: 800;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.logo-nav-tablet-container {
  position: absolute;
  right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 4.5rem;
  max-width: 150px;
}

nav .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

nav .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
}

nav .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

nav .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

nav .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.nav-container {
  padding-top: 40px;
  height: 93vh;
  width: 100%;
  transform: translate(-150%);
  display: grid;
  transition: transform 0.5s ease-in-out;
  margin-top: 62px;
  padding: 2rem 1rem 2rem 1rem ;
  background-color: #081820;
  grid-template-rows: 30% 10% 5% 55%;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.menu-items .link.active {
  color:  #bcc9d0;
}

.CTA-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav .CTA-container {
  gap: 1.6rem;
  /* margin-top: 2rem; */
}

.CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.8rem 0.8rem 0.8rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50px;
  background-color: #e77100;
  color: white;
  gap: 0.5rem;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
  min-width: 250px;
}

nav .CTA {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.087);
}

nav .powered-by-container,
nav .org-nr {
  color: #7e8b97;
  align-self: end;
}

nav .org-nr {
  margin-top: 5rem;
}

nav input[type="checkbox"]:checked {
  box-shadow: none;
}

nav input[type="checkbox"]:checked ~ .nav-container {
  transform: translateY(0);
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

@media (hover: hover) {
  .link:hover {
    color: #3f464c;
  }
}

@media (min-width: 658px) {
  .nav-container {
    height: 300px;
    transform: translateY(-150%);
    grid-template-rows: 50% 20% 30%;
    gap: 1rem;
  }
  nav .powered-by-container {
    display: none;
  }
  nav .CTA {
    width: 302px;
  }
  .banner-tablet {
    display: block;
    color: #7e8b97;
  }
}

@media (min-width: 800px) {
  .banner-tablet {
    display: none;
  }

  .banner-desktop {
    display: block;
  }

  nav {
    box-shadow: none;
    background-color: transparent;
    height: auto;
  }

  .nav-container {
    height: auto;
    transform: translateY(0%);
    padding: 0;
    margin-top: 0px;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  nav,
  .nav-container,
  .navbar {
    background-color: transparent;
  }
  nav .checkbox,
  nav .hamburger-lines,
  .navbar {
    display: none;
  }

  .menu-items {
    flex-direction: row;
    gap: 2rem;
  }

  nav .CTA-container {
    margin-top: 0;
    align-self: end;
    gap: 0;
  }
  .nav-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1000px) {
  .logo-nav-desktop-container {
    display: block;
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
  }

  .logo-nav-desktop {
    width: 5rem;
  }
}
